body{
	background-image: url("../images/bg_mosaico.jpg");
}

h1{
	text-align: center;
	color: #111 !important;
	text-transform: uppercase;
}

h1 small{
	display: block;
	color: #a80505 !important;
	text-transform: capitalize;
}

header{
	height: 72px;
	background: #ccc url("../images/bg_header.png");
	padding: 15px;
}

nav{
	margin-top: 15px;
}

header nav a{
	color: #333 !important;
	text-shadow: none !important;
}

header nav a:hover{
	color: #a80505 !important;
}

.slide{
	margin-bottom: 10px;
}

.left{
	margin: 0;
}

.right{
	margin: 0;
}

.contenido{
	background-color: #fff;
	overflow: auto;
	padding: 20px 0;
	font-family: Overlock;
}

.presentacion{
	margin-bottom: 50px;
	font-size: 15px;
}

.lista-valores{
	list-style: none;
}

#titulo_presentacion{
	text-align: center;
	margin-bottom: 45px;
}

.destacado, .current{
	color: #a80505 !important;
}

.imagen_nosotros{
	float: right;
	margin-left: 18px;
	margin-bottom: 10px;
}

.nosotros p{
	text-align: justify;
}

.social_icon{
	float: left;
	margin-right: 10px;
}

.visita_catalogo{
	border: 3px #333 solid;
}

footer{
	color: #ccc;
	margin-top: 15px;
	height: 108px;
	background: #333 url("../images/bg_footer.png");
}

footer .row{
	margin-top: 45px;
}

footer .desarrollador{
	color: #111;
}

#slides{
	position: relative;
}

.prev{
	position: absolute;
	top: 115px;
	left: 5px;
	z-index: 10;
	width: 40px;
	height: 40px;
	background: url(../images/flecha_izq.png) no-repeat;
}

.next{
	position: absolute;
	top: 115px;
	right: 5px;
	z-index: 10;
	width: 40px;
	height: 40px;
	background: url(../images/flecha_der.png) no-repeat;
}

.slides_container {
	width:780px;
	display:none;
	border: 8px #333 solid;
	border-left: 0;
	border-right: 0;
}

.slides_container div {
	width:780px;
	height:241px;
	display:block;
}

.pagination{
	display: none;
}